<% content_for(:noindex) do %>
<meta name="robots" content="noindex">
<% end %>

<% content_for(:description) do %>
Conditions de vente de la boutique de Carole Kaltenbacher
<% end %>
<% content_for(:title_tag) do %>
  Conditions de vente de la boutique de Carole Kaltenbacher
<% end %>

 <div class="container">

   <div class="hidden-xs hidden-sm col-sm-12 cgv">
    <% if user_signed_in? && current_user.admin %>
      <% article_typing("cgv", "horizontal", "markdown1", "live-text5", "input5") %>
      <% @markdown = @markdown1 %>
      <div class="live-text">
        <%= render 'shared/articletyping' %>
      </div>
    <% else %>
      <div class="plain-text">
        <% article_display("cgv", "horizontal") %>
        <%= @markdown.html_safe %>
      </div>
    <% end %>
  </div>

  <div class="hidden-md hidden-lg cgv">
    <%= @markdown.html_safe %>
  </div>

</div>



